.list1 {
    justify-content:left;
    box-shadow: none;
    height: calc(-2rem + 70vh);
    border: none;
    background-color: transparent;
    width: 250px;

}
.item{
    background-color: whitesmoke ;
    margin-bottom: 8px;
    padding: 16px;
    user-select: none;
    width: 200px;
    border-radius:0.375rem;

}